
main{
    padding-left: 300px;
}

@font-face {
    font-family: Rubik;
    src:url(../font/RubikGlitch-Regular.ttf);
}

.chat{
    color:white;
    padding-bottom: 48px ;
    padding-top: 48px;
    width: auto;
    word-break: break-all;
    margin: 20px;
}
p{
    margin: 1px;
    font-size: medium;
}
.chatbox{
    
    padding:5px;
    border: solid;
    border-color: orange;
    position: fixed;
    bottom: 0%;
    z-index: 100;
    width:98vw;
    padding-right: 300px;
}
nav{
    position: fixed;
    top: 0%;
    z-index: 100;
    width:100%; 
    background-color:orange;
}

.superblack, html, .sidenav{
    background-color: #222222 ;
    
}
.sidenav li > a, p {
    color:white; 
    
}
.sidenav{
    border:solid;
    border-color: orange;  
}
li > .subheader{
    color:white !important; 
    font-family: Rubik;
    font-size: xx-large !important;
}

.chat_input{   
    display: flex;
    width: auto;
    align-content: center;
    justify-content: left;
    height:48px;
}
.message{
    color: #9e9e9e;
    border-radius: 5px;
    background-color: #eceff1;
    
}
.btn-floating{
    flex:none;
    margin-right: 10px;
}
@media only screen and (max-width : 992px) {
    main {
    padding-left: 0;
    }
    .chatbox{
        padding-right: 0px ;
    }
}
