.chatbox{
    
    padding:5px;
    border: solid;
    border-color: white;
}
.superblack{
    background-color: #222222 ;
}
.chat_input{   
    display: flex;
    width: auto;
    align-content: center;
    justify-content: center;
}
.message{
    color: #9e9e9e;
    border-radius: 5px;
    background-color: #eceff1;
    
}
.btn-floating{
    flex:none;
    margin-right: 10px;
}